<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Yjs Demos</h1>
  <style>

  </style>
  <ul>
    <li><a href="/quill.html">Quill Binding</a></li>
    <br><br>
    <form action="/room" method='GET'>
      <input type="text" placeholder='Username' name='username'>
      <input type="submit" value='Create Room'>
    </form>
    <br><br>
    <form action="/room" method='POST'>
      <input type="text" placeholder='Username' name='username' required>
      <input type="text" placeholder='room number' name='roomID' required>
      <input type="submit" value='Join Room'>
    </form>

  </ul>
</body>
</html>
